//ISSO É UM EXEMPLO DE ARQUIVO DE CONFIGURAÇÃO PARA A SENHA DA FECHADURA ELETRÔNICA. RENOMEIE ESTE ARQUIVO PARA "secrets.ini" E SUBSTITUA "YOUR PASS" PELA SENHA DESEJADA. (maximo 4 digitos)
; secrets.ini
[env:esp32]
build_flags =
    -D PASS=\"YOUR PASS\"
    -D MQTT_BROKER="broker.emqx.io\"
    -D MQTT_PORT=1883
    -D MQTT_CLIENT_ID=\"fechadura_abc123\"
    -D TOPIC_COMANDO=\"fechadura/comando\"
    -D TOPIC_STATUS=\"fechadura/status\"
    -D PASSWORD_WIFI=\"PASS\"
    -D SSID_WIFI=\"SSID\"