//ISSO É UM EXEMPLO DE ARQUIVO DE CONFIGURAÇÃO PARA A SENHA DA FECHADURA ELETRÔNICA. RENOMEIE ESTE ARQUIVO PARA "secrets.ini" E SUBSTITUA "YOUR PASS" PELA SENHA DESEJADA. (maximo 4 digitos)
; secrets.ini
[env:nanoatmega328]
build_flags =
    -D PASS=\"YOUR PASS\"