//ISSO É UM EXEMPLO DE ARQUIVO DE CONFIGURAÇÃO PARA A SENHA DA FECHADURA ELETRÔNICA. RENOMEIE ESTE ARQUIVO PARA "secrets.ini" E SUBSTITUA "YOUR PASS" PELA SENHA DESEJADA. (maximo 4 digitos)
; secrets.ini
[env:esp32]
build_flags =
    -D PASS=\"YOUR PASS\"
    -D BLYNK_TEMPLATE_ID=\"SEU TEMPLATE ID\"
    -D BLYNK_AUTH_TOKEN=\"SEU AUTH TOKEN\"
    -D BLYNK_TEMPLATE_NAME=\"SEU TEMPLATE NAME\"
    -D PASSWORD_WIFI=\"PASS\"
    -D SSID_WIFI=\"SSID\"